@model IEnumerable<Ehrman_SD2.Models.Visit>

@{
    ViewBag.Title = "Visit Index";
}

<div class="alert alert-info">
    <h1>Visit Index</h1>
</div>

<p>
    @Html.ActionLink("Create New", "Create", new { area = "" }, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-hover table-condensed">
    <tr style="border-color: black">
        <th style="border-color: black">
            @Html.DisplayNameFor(model => model.pet.petName)
        </th>
        <th style="border-color: black">
            @Html.DisplayNameFor(model => model.vet.vetFullName)
        </th>
        <th style="border-color: black">
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th style="border-color: black">
            @Html.DisplayNameFor(model => model.visitDate)
        </th>
        <th style="border-color: black"></th>
    </tr>

@foreach (var item in Model) {
    <tr style="border-color: black">
        <td style="border-color: black">
            @Html.DisplayFor(modelItem => item.pet.petName)
        </td>
        <td style="border-color: black">
            @Html.DisplayFor(modelItem => item.vet.vetFullName)
        </td>
        <td style="border-color: black">
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td style="border-color: black">
            @Html.DisplayFor(modelItem => item.visitDate)
        </td>
        <td style="border-color: black">
            @Html.ActionLink("Edit", "Edit", new { id=item.visitID }) |
            @Html.ActionLink("Details", "Details", new { id=item.visitID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.visitID })
        </td>
    </tr>
}

</table>
