@model Ehrman_SD2.Models.Pet

@{
    ViewBag.Title = "Delete Pet";
}

<div class="alert alert-warning">
    <h1>Delete Pet</h1>
</div>

<h3>Are you sure you want to <span class="alert alert-danger">delete</span> this pet?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.petName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.petName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ownerFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ownerFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ownerLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ownerLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ownerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ownerEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ownerPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ownerPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patientSince)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patientSince)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.petAnimal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.petAnimal)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index", new { area = "" }, new { @class = "btn btn-primary" })
        </div>
    }
</div>
